.bg-transparent-dark {
  background-color: #70707085;
}

.user-icon-small {
  border-style: solid;
  border-width: 3px;
}

.column-title {
  color: #404040;
}

.clickable {
  cursor: pointer;
}

.column {
  background-color: #dcdcdc;
}

.column-add-text {
  color: #a7a7a7;
}

.add-card-icon {
  height: 35;
  width: 35;
}

.add-column-button {
  background-color: #a7a7a7;
}

.category-minimal {
  height: 20px;
  width: 70px;
}

.column-cotainer {
  width: 350px;
}

.table-header {
  width: 500px;
  background-color: #70707085;
}

.bg-trello-primary {
  background-color: #36393f;
}

.bg-trello-secondary {
  background-color: #202225;
}

.bg-trello-tertiary {
  background-color: #2f3136;
}

.bg-trello-quaternary {
  background-color: #9292925e;
}

.trello-header {
  height: 120px;
}

.clipped-square {
  width: 40px;
  height: 40px;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.trello-form-input {
  @include form-input-mixin;
}

.trello-form-input:focus {
  @include form-input-mixin;
}

.trello-btn-primary {
  @include font-primary-mixin;
  background-color: $btn-primary;
  &:hover {
    @include font-primary-mixin;
    background-color: $btn-focus;
  }
}

.trello-form-clickable {
  color: $font-secondary;
  font-weight: $font-weight-primary;

  &:hover {
    color: $font-primary;
  }
}
