.trello-clickable {
  cursor: pointer;
}

.trello-setting-user-icon {
  width: $icon-settings-size;
  height: $icon-settings-size;
  object-fit: cover;
}

.trello-background {
  min-height: 100vh;
  background-color: $bg-primary;
}

.trello-table-card {
  width: $table-card-width;
  height: $table-card-height;
  background-size: cover;
  background-color: $bg-tertiary;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.trello-tables-page-font {
  font-weight: bold;
  color: $font-primary;
}

.trello-tile-title-bg {
  background-color: $table-tile-bg-color;
}

.trello-header-bg {
  background-color: $bg-secondary;
}

.trello-header {
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trello-header-logo {
  font-size: $header-font-size;
  white-space: nowrap;
  color: $font-primary;
  font-weight: bold;
}

.trello-header-rounding {
  background-color: $bg-primary;
  height: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.trello-header-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.trello-dropdown-toggler {
  position: relative;
}

.trello-column-options-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  padding: 4px 0px;
}

.trello-dropdown-option {
  @extend .trello-clickable;
  font-weight: $font-weight-primary;
  &:hover {
    background-color: #d3d3d3;
  }
}

.trello-add-table {
  @include font-primary-mixin;
  background-color: $bg-quaternary;
  font-size: large;
  justify-content: center;
}
