.trello-clickable {
  cursor: pointer;
}

.trello-setting-user-icon {
  width: $icon-settings-size;
  height: $icon-settings-size;
  object-fit: cover;
}

.trello-background {
  min-height: 100vh;
  background-color: $bg-primary;
}

.trello-table-card {
  width: $table-card-width;
  height: $table-card-height;
  background-size: cover;
}

.trello-tables-page-font {
  font-weight: bold;
  color: $font-primary;
}

.trello-tile-title-bg {
  background-color: $table-tile-bg-color;
}

.trello-header {
  font-size: $header-font-size;
  white-space: nowrap;
  color: $font-primary;
  font-weight: bold;
}

.trello-header-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
