.column-title {
  color: #404040;
}

.column-add-text {
  color: #a7a7a7;
}

.add-card-icon {
  @include round-icon-mixin($icon-settings-size);
}

.add-column-button {
  background-color: #a7a7a7;
}

.category-minimal {
  height: 20px;
  width: 70px;
}

.table-header {
  width: 500px;
  background-color: #70707085;
}

.bg-trello-primary {
  background-color: #36393f;
}

.bg-trello-secondary {
  background-color: #202225;
}

.bg-trello-tertiary {
  background-color: #2f3136;
}

.trello-header {
  height: 120px;
}

.clipped-square {
  width: 40px;
  height: 40px;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.trello-form-input {
  @include form-input-mixin;

  &:focus {
    @include form-input-mixin;
  }

  &:disabled {
    @include form-input-mixin;
    color: $font-secondary;
  }
}

.trello-btn-primary {
  @include font-primary-mixin;
  background-color: $btn-primary;
  &:hover {
    @include font-primary-mixin;
    background-color: $btn-focus;
  }
}

.trello-btn-dark {
  @include font-primary-mixin;
  background-color: $bg-primary;

  &:hover {
    @include font-primary-mixin;
  }
}

.trello-form-clickable {
  color: $font-secondary;
  font-weight: $font-weight-primary;

  &:hover {
    @extend .trello-clickable;
    color: $font-primary;
  }
}

.trello-form {
  background-color: $bg-quaternary;
}

.trello-settings-icon {
    @include round-icon-mixin($icon-settings-size)
}
