@import "common-classes.scss";

.column-title {
  color: #404040;
}

.column-add-text {
  color: #a7a7a7;
}

.add-card-icon {
  @include round-icon-mixin($icon-settings-size);
}

.add-column-button {
  background-color: #a7a7a7;
}

.category-minimal {
  height: 20px;
  width: 70px;
}

.table-header {
  width: 500px;
  background-color: #70707085;
}

.trello-header {
  height: 120px;
}

.clipped-square {
  width: 40px;
  height: 40px;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.trello-form-input {
  @include form-input-mixin;

  &:focus {
    @include form-input-mixin;
  }

  &:disabled {
    @include form-input-mixin;
    color: $font-secondary;
  }
}

.trello-btn-primary {
  @include font-primary-mixin;
  background-color: $btn-primary;
  &:hover {
    @include font-primary-mixin;
    background-color: $btn-focus;
  }
}

.trello-btn-dark {
  @include font-primary-mixin;
  background-color: $bg-primary;

  &:hover {
    @include font-primary-mixin;
  }
}

.trello-form-clickable {
  color: $font-secondary;
  font-weight: $font-weight-primary;

  &:hover {
    @extend .trello-clickable;
    color: $font-primary;
  }
}

.trello-form {
  background-color: $bg-quaternary;
}

.trello-settings-icon {
  @include round-icon-mixin($icon-settings-size);
}

.trello-settings-font {
  @include font-primary-mixin;
  font-size: 20px;
  margin: 0;
}

.trello-settings-label-font {
  color: $font-secondary;
  margin: 0;
}

.trello-settings-color-container {
  @extend .trello-clickable;
  width: 50px;
  height: 50px;
}

.trello-btn-cancel {
  background-color: $bg-quaternary;
  &:hover {
    background-color: darken($bg-quaternary, 20);
    color: $font-primary;
  }
}

.trello-btn-danger {
  background-color: red;
  &:hover {
    background-color: darken(red, 20);
    color: $font-primary;
  }
}

@keyframes trello-btn-danger-loading-animation {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

.trello-btn-danger-loading {
  @extend .trello-btn-danger;
  background: linear-gradient(to right, red 50%, darken(red, 20) 50%);
  background-size: 200% 100%;
  animation-name: trello-btn-danger-loading-animation;
  animation-duration: 2s;
}

.trello-table-bg-container {
  width: 47%;
}

.trello-selected-image {
  @extend .trello-clickable;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}

.trello-selected-image-selected {
  @extend .trello-selected-image;
  background-color: whitesmoke;
}

.modal-content {
  background-color: transparent;
}

.modal-body {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.trello-settings-modal {
  @include font-primary-mixin;
  background-color: $bg-primary;
  border: none;
}
