@import "variables.scss";
@import "mixins.scss";
@import "table-classes.scss";
@import "form-classes.scss";
@import "common-classes.scss";

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
