@mixin form-input-mixin {
  background-color: $bg-tertiary;
  border: none;
  color: white;
}

@mixin font-primary-mixin {
  color: $font-primary;
  font-weight: 500;
}

@mixin round-icon-mixin($size) {
  width: $size;
  height: $size;
  object-fit: cover;
}
