$bg-primary: #36393f;
$bg-secondary: #202225;
$bg-tertiary: #2f3136;
$bg-quaternary: #9292925e;

$font-primary: white;
$font-secondary: #ffffffb2;
$font-secondary-focus: #ffffffe1;

$btn-primary: #4dff53c0;
$btn-focus: #38bd3cc0;

$font-weight-primary: 500;
