$bg-primary: #36393f;
$bg-secondary: #202225;
$bg-tertiary: #2f3136;
$bg-quaternary: #595a5e;

$font-primary: white;
$font-secondary: #ffffffb2;
$font-secondary-focus: #ffffffe1;

$btn-primary: #4dff53c0;
$btn-focus: #38bd3cc0;

$font-weight-primary: 500;

$table-bg-transparent: #70707085;
$icon-small-size: 35px;
$icon-settings-size: 150px;

$column-width: 350px;

$table-card-width: 320px;
$table-card-height: $table-card-width / 1.618


